<!--
h1 {
    color:red;
}

#thirdDiv {
    border:midnightblue  
    height:600px;
    width:500px;
    background:rgb(13, 116, 21);
    padding:50px;
}

#thirdDiv img {
    width:400px;
}

.spanId {
    font:18px;
    margin:50px;
}
} -->

